<div class="layout-1">
  <div class="left-panel">
    <app-left-nav-menu #leftNavMenu></app-left-nav-menu>
  </div>
  <div class="right-panel" [ngClass]="{ 'open-1': leftNavMenu.isMainLevelOpen, 'open-2': leftNavMenu.isSubLevelOpen }">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="footer__container">
      <div class="top-section">
        <div class="top-section__col">
          <ul class="top-section__menu-list top-section__menu-list--bold">
            <li class="menu-item">
              <a href="#">Home</a>
            </li>
            <li class="menu-item">
              <a href="#">About Janper</a>
            </li>
            <li class="menu-item">
              <a href="#">Contact Us</a>
            </li>
            <li class="menu-item">
              <a href="#">Trade Area</a>
            </li>
          </ul>
        </div>
        <div class="top-section__col">
          <ul class="top-section__menu-list">
            <li class="menu-item">
              <a href="#">JanperAcrylic</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesOne</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesTwo</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesThree</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesFour</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesFive</a>
            </li>
            <li class="menu-item">
              <a href="#">Colours & Finishes</a>
            </li>
            <li class="menu-item">
              <a href="#">Options & Accessories</a>
            </li>
          </ul>
        </div>
        <div class="top-section__col">
          <ul class="top-section__menu-list">
            <li class="menu-item">
              <a href="#">Duraform</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesOne</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesTwo</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesThree</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesFour</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesFive</a>
            </li>
            <li class="menu-item">
              <a href="#">Colours & Finishes</a>
            </li>
            <li class="menu-item">
              <a href="#">Options & Accessories</a>
            </li>
          </ul>
        </div>
        <div class="top-section__col">
          <ul class="top-section__menu-list">
            <li class="menu-item">
              <a href="#">JanperEdge</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesOne</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesTwo</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesThree</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesFour</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesFive</a>
            </li>
            <li class="menu-item">
              <a href="#">Colours & Finishes</a>
            </li>
            <li class="menu-item">
              <a href="#">Options & Accessories</a>
            </li>
          </ul>
        </div>
        <div class="top-section__col">
          <ul class="top-section__menu-list">
            <li class="menu-item">
              <a href="#">JanperEase</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesOne</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesTwo</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesThree</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesFour</a>
            </li>
            <li class="menu-item">
              <a href="#">SeriesFive</a>
            </li>
            <li class="menu-item">
              <a href="#">Colours & Finishes</a>
            </li>
            <li class="menu-item">
              <a href="#">Options & Accessories</a>
            </li>
          </ul>
        </div>
        <div class="top-section__col">
          <div class="search-input">
            <input type="text" class="form__control form__control--shade" placeholder="Search" />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <ul class="social-media-list right">
            <li class="item">
              <a href="#">
                <i class="fa-brands fa-square-facebook"></i>
              </a>
            </li>
            <li class="item">
              <a href="#">
                <i class="fa-brands fa-square-twitter"></i>
              </a>
            </li>
            <li class="item">
              <a href="#">
                <i class="fa-brands fa-square-instagram"></i>
              </a>
            </li>
            <li class="item">
              <a href="#">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="bot-section">© Copyright {{ currentYear }} Janper</div>
    </div>
  </footer>
</div>
