.layout-1 {
  &__left-panel {
    height: 100vh;
    position: fixed;
    z-index: 1;
  }

  &__right-panel {
    padding-left: $menu-collapsed-width;
    transition: all 0.3s ease;

    &.open-1 {
      padding-left: $menu-open-width;
    }

    &.open-2 {
      padding-left: calc($menu-open-width * 2);
    }
  }

  footer {
    background-color: white;
    height: 40rem;
    position: relative;
    z-index: 2;
  }
}
