<div class="home-page">
  <div class="home-page__top-section">
    <div class="intro-box">
      <img class="intro-box__logo" src="assets/images/logos/big-logo.png" alt="Janper Logo" />
      <p class="paragraph paragraph--1 text-justify">Janper offers a range of quality kitchen doors and panels from sleek contemporary to detailed classical design.</p>
    </div>
    <a class="scroll-down-btn">
      <i class="fa-solid fa-caret-down"></i>
      Scroll Down
    </a>
  </div>
  <div class="home-page__mid-section">
    <h1 class="heading heading--1">Janper exclusive quality</h1>
    <p class="paragraph">
      An Australian owned family company, Janper Pty Ltd was established in 1969, and now has over fifty years experience in the cabinet making industry. Millions of dollars have
      been invested in research and development and state of the art manufacturing equipment. From automatic routing systems, to our high pressure vacuum press, this reflects our
      determination and commitment to keep abreast with Australian and International standards in quality. Design, production and quality systems are assessed regularly, with
      on-going training and updating of systems to maintain the highest calibre of finished product that has made Janper a leading manufacturer in the industry.
    </p>
  </div>
  <app-simple-contact-form></app-simple-contact-form>
</div>
