.left-nav-menu {
  display: flex;
  height: 100%;
  text-align: center;

  * {
    user-select: none;
  }

  .menu-list {
    color: white;
    list-style: none;
    opacity: 0;
    transition: all 0.2s ease-out;
    width: 0;

    &__item {
      align-items: center;
      display: flex;
      justify-content: center;
      min-height: 4rem;

      & > a {
        &,
        &:link,
        &:visited {
          color: inherit;
          cursor: pointer;
          display: block;
          font-size: 1.4rem;
          padding: 0 0.3rem;
          text-decoration: none;
        }
      }
    }

    &__divider {
      padding: 1.5rem 0;

      &::before {
        background-color: white;
        content: "";
        display: block;
        height: 1px;
        width: 100%;
      }
    }
  }

  .menu {
    min-width: 0rem;
    overflow: hidden;
    position: relative;
    transition: all 0.6s ease;

    & > .close-btn {
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      display: none;
      font-size: 2.5rem;
      line-height: 0;
      position: absolute;
      right: 1rem;
      top: 1.3rem;
    }

    &.open {
      .open-btn {
        opacity: 0;
        position: absolute;
        z-index: -9999;
      }

      .close-btn {
        display: inline-block;
      }

      .menu-list {
        opacity: 1;
        margin-top: 4rem;
        padding: 0 3rem;
        width: $menu-open-width;
      }
    }

    &--1 {
      background-color: $red--1;
      min-width: $menu-collapsed-width;

      .open-btn {
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-size: 3rem;
        left: 50%;
        position: absolute;
        top: 1.5rem;
        transform: translateX(-50%);
        transition: opacity 0.3s ease;
        z-index: 1;
      }

      .menu-list {
        &__item {
          & > .active {
            color: $black--1;
          }

          &:hover {
            color: $black--1;
          }
        }
      }
    }

    &--2 {
      background-color: $black--1;

      .menu-list {
        &__item {
          & > .active {
            color: $red--1;
          }

          &:hover {
            color: $red--1;
          }
        }
      }
    }
  }
}
