.social-media-list {
  list-style: none;

  & > .item {
    display: inline-block;

    & > a {
      font-size: 3rem;
      transition: color 0.3s ease;

      &:hover {
        color: $red--1;
      }
    }

    &:not(:first-child) {
      margin-left: 0.8rem;
    }
  }

  &.right {
    text-align: right;
  }
}
