<div class="simple-contact-form">
  <div class="simple-contact-form__container">
    <div class="row">
      <div class="col-1-2">
        <div class="text-box">
          <h1 class="heading heading--1">Janper has <br />your cabinetry <br />covered...</h1>
          <p class="paragraph">If you have an enquiry, we are here to help.</p>
        </div>
      </div>
      <div class="col-1-2">
        <form>
          <div class="form__group">
            <input type="text" placeholder="Name *" class="form__control" />
          </div>
          <div class="form__group">
            <input type="email" placeholder="Email *" class="form__control" />
          </div>
          <div class="form__group">
            <input type="text" placeholder="Phone *" class="form__control" />
          </div>
          <div class="form__group">
            <textarea class="form__control" rows="5" placeholder="Message *"></textarea>
          </div>
          <div class="form__group">
            <button type="submit" class="simple-contact-form__submit-btn">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
